.idea/
query.txt
column.txt
cmake-build-debug/
experiment.dSYM/
gendata
gendata.dSYM/
readme.txt
.DS_Store
crackingmain
crackingmain.dSYM/
fi.txt
fs.txt
ppqs.txt
pqs.txt
stc.txt
std.txt
experiments/
progressive.dSYM/
progressive