query*
column*
cmake-build-debug/
venv/
gendata
readme.txt
crackingmain
crackingtpch
progressive
experiments/generatedscripts
ScriptExperiments/
runs/**
.*
*.pdf
*.pyc
*.dSYM/
*.csv
*.tbl
*.png
MonetDB/generatecsv
src/util/define.h